/* gray scale 분석 */
$black:#000;
$gray-special:#191A20;
$gray-primary:#3F4150;
$gray-subcolor:#8C8D96;
$gray-tertiary:#B2B3B9;
$gray-border:#E0E2E7;
$gray-bgc:#F7F8FA;
$white:#FFFFFF;

$primary-color:#3DA5F5;
$primary-color-dark:#3186C4;
$primary-color-light:#ECF6FE;

$red:#F86D7D;
$green:#22C58B;